.section-common {
    background: #ffffff;
    padding: 20px 0;

    &.section-Outstanding-Doctor {
        background: url("../../../assets/images/OutstandingDoctor/background-doctor.png");
    }

    .common-container {
        margin: 0 80px;
        display: flex;
        flex-direction: column;

        .common-header {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;
            font-size: 24px;
            font-weight: 500;

            &.hand-book-header {
                margin: 0;
            }

            .header-button {
                border: none;
                background: #daf3f6;
                color: #35939e;
                cursor: pointer;
                padding: 10px 5px;
                border-radius: 15px;
                font-weight: 500;

                &:hover {
                    opacity: 0.8;
                    color: #348088;
                }
            }
        }

        .common-body {
            background-color: rgb(255, 255, 255);


            &.Outstanding-Doctor-body {
                background: transparent;
            }

            .common-customsize {
                height: 320px;
                width: 430px !important;
                border-radius: 16px;
                border: 1px solid rgb(217, 216, 216);
                display: flex !important;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &.customsize-Outstanding-Doctor {
                    border: none;
                }

                &.customsize-health-facilities {
                    height: 300px;
                    width: 420px;
                }

                &.customsize-hand-book {
                    border: none;
                }

                .bg-img {
                    width: 340px;
                    height: 220px;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    border-radius: 12px;

                    //section 
                    &.section-specialty {
                        background: url("../../../assets/images/Specialty/xuong.png");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &.section-health-facilities {
                        background: url("../../../assets/images/healthfacilities/cty.jpg");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &.section-Outstanding-Doctor {
                        background: url("../../../assets/images/OutstandingDoctor/avt-doctor.jpg");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 220px;
                        height: 220px;
                    }

                    &.section-handbook {
                        background: url("../../../assets/images/handbook/handbook.png");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 100%;
                        height: 170px;
                        border-radius: 15px;
                        border: 1px solid rgb(217, 216, 216);
                    }

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: rgb(98, 98, 98);
                        text-align: center;
                    }
                }

                .customsize-title {
                    font-size: 18px;
                    font-weight: 500;
                    text-align: center;
                    padding: 20px 10px;
                    width: 100%;
                    line-height: 1.5;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    padding: 0 50px;

                    &.customsize-title-health-facilities {
                        height: 140px;
                    }
                }


            }

            //reset slick slider css

            .slick-prev {
                left: -20px !important;
                z-index: 1000 !important;
                width: 40px !important;
                height: 40px !important;
                box-shadow: rgb(201, 236, 240) 2px 2px 5px !important;
                border-radius: 8px !important;
                border-width: 1px !important;
                border-color: rgb(181, 231, 237) !important;
                background: rgb(255, 255, 255) !important;
            }

            .slick-prev::before {
                font-family: none !important;
                content: '<' !important;
                color: #429aa5 !important;
                font-size: 24px !important;
                font-weight: bold !important;
            }

            .slick-next {
                right: 5px !important;
                z-index: 1000 !important;
                width: 40px !important;
                height: 40px !important;
                box-shadow: rgb(201, 236, 240) 2px 2px 5px !important;
                border-radius: 8px !important;
                border-width: 1px !important;
                border-color: rgb(181, 231, 237) !important;
                background: rgb(255, 255, 255) !important;
            }

            .slick-next::before {
                content: '>' !important;
                color: #429aa5 !important;
                font-size: 24px !important;
                font-weight: bold !important;
            }
        }
    }
}